.calendar {
  display: flex;
  flex-wrap: wrap;
  max-width: ($cellSize + $cellGap) * $daysCount;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  & > div {
    height: $cellSize;
    width: $cellSize;

    margin-right: $cellGap;
    margin-bottom: $cellGap;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #eee;
    border: 1px solid black;

    transition: background-color 0.5s, transform 0.5s;

    &:hover {
      cursor: pointer;
      background-color: pink;
      transform: translateY(-20px);
    }

    @for $i from 1 through 31 {
      &:nth-child(#{$i}) {
        &::after {
          content: "#{$i}";
        }
      }
    }
  }

  @for $i from 28 through 31 {
    &-#{$i} :nth-child(n+#{$i+1}) {
      display: none;
    }
  }

  @each $day, $order in $weekDays {
    &-#{$day} :first-child {
      margin-left: $order * $cellSize + $cellGap;
    }
  }
}
