$defaultFontFamily: "Arial", "Helvetica", sanf-serif;
$cellSize: 100px;
$cellGap: 1px;
$daysCount: 7;
$weekDays: (
  "mon": 0,
  "tue": 1,
  "wed": 2,
  "thu": 3,
  "fri": 4,
  "sat": 5,
  "sun": 6
);
